<div class="ui-g-12">
    <div class="ui-g-12 ui-md-5" style="width: 45%;">
        <div style="margin-bottom: 5px;">
            <div style="height: 28px;">
                {{'Change.Type4Source'|translate}}
                <input pInputText type="text" (click)='IsEanble ? dept_showDialog(): ""'
                    style="width: 150px !important;" readonly="true" name="departmentS" [(ngModel)]="departmentS" />
            </div>
        </div>
        <p-table #table [value]="items" [columns]="cols" [resizableColumns]="true"
            [style]="{'text-align': 'center','width':'100%','margin-right':'-50px'}" [scrollable]="true" scrollHeight="300px">
            <ng-template pTemplate="colgroup" let-columns>
                <colgroup>
                    <col style="width:30px" *ngIf="IsEanble">
                    <col style="width:75px">
                    <col style="width:75px">
                    <col style="width:75px">
                    <col style="width:75px">
                </colgroup>
            </ng-template>
            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th style="width: 30px;" *ngIf="IsEanble">
                        <p-checkbox name="group_all" value="all" (onChange)="All(1)" [(ngModel)]="selectedValues_All">
                        </p-checkbox>
                    </th>
                    <ng-container *ngFor="let col of columns; let i = index">
                        <th *ngIf="i >= 0" style="width: 100px;" [pSortableColumn]="col.field" pResizableColumn>
                            {{ col.header }}
                            <p-sortIcon [field]=" col.field"></p-sortIcon>
                        </th>
                    </ng-container>
                </tr>
                <tr>
                    <th></th>
                    <th>
                        <input pInputText type="text"
                            (input)="table.filter($event.target.value, 'SwName', 'contains')">
                    </th>
                    <th>
                        <input pInputText type="text"
                            (input)="table.filter($event.target.value, 'ReservedDepartment', 'contains')">
                    </th>
                    <th>
                        <input pInputText type="text"
                            (input)="table.filter($event.target.value, 'ReservedQuantity', 'contains')">
                    </th>
                    <th>
                        <input pInputText type="text"
                            (input)="table.filter($event.target.value, 'AuthBookkeeper', 'contains')">
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-item>
                <tr class='breakall'>
                    <td style="text-align: center;" *ngIf="IsEanble">
                        <p-checkbox name="group_delete" value="{{ item.Id }}" [(ngModel)]="selectedValues_Delete">
                        </p-checkbox>
                    </td>
                    <td>{{item.SwName}}</td>
                    <td>{{item.ReservedDepartment}}</td>
                    <td>{{item.ReservedQuantity}}</td>
                    <td>{{item.AuthBookkeeper}}</td>
                </tr>
            </ng-template>
        </p-table>
    </div>
    <div class="ui-g-12 ui-md-1" style="text-align: center;padding-top: 40px;width: 10%;">
        <p-button [disabled]="!IsEanble" label=">" (click)="addItems()"></p-button>
        <br> <br>
        <p-button *ngIf="IsEanble" label="<" (click)="reomveItems()"></p-button>
    </div>
    <div class="ui-g-12 ui-md-5" style="width: 45%;">
        <div style="margin-bottom: 5px;">
            <div>
                {{'Change.Type5Target'|translate}}
                <input pInputText type="text" (click)='IsEanble ? dept_showDialog2(): ""'
                    style="width: 150px !important;" readonly="true" name="departmentS2" [(ngModel)]="departmentS2" />
            </div>
        </div>

        <p-table #table [columns]="cols2" [value]="items_Selected" [resizableColumns]="true"
            [style]="{'width':'100%','text-align': 'center'}" [scrollable]="true" scrollHeight="300px">
            <ng-template pTemplate="colgroup" let-columns>
                <colgroup>
                    <col style="width:30px" *ngIf="IsEanble">
                    <col style="width:55px">
                    <col style="width:55px">
                    <col style="width:55px">
                    <col style="width:55px">
                    <col style="width:55px">
                    <col style="width:55px">
                </colgroup>
            </ng-template>
            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th style="width: 30px;" *ngIf="IsEanble">
                        <p-checkbox name="group_all" value="all" (onChange)="All(2)"
                            [(ngModel)]="selectedValues_RemoveAll">
                        </p-checkbox>
                    </th>
                    <ng-container *ngFor="let col of columns; let i = index">
                        <th *ngIf="i >= 0" style="width: 100px;" [pSortableColumn]="col.field" pResizableColumn>
                            {{ col.header }}
                            <p-sortIcon [field]=" col.field"></p-sortIcon>
                        </th>
                    </ng-container>
                </tr>
                <tr>
                    <th></th>
                    <th>
                        <input pInputText type="text"
                            (input)="table.filter($event.target.value, 'FormatId', 'contains')">
                    </th>
                    <th>
                        <input pInputText type="text"
                            (input)="table.filter($event.target.value, 'softwarename', 'contains')">
                    </th>
                    <th>
                        <input pInputText type="text"
                            (input)="table.filter($event.target.value, 'Oridepartment', 'contains')">
                    </th>
                    <th>
                        <input pInputText type="text"
                            (input)="table.filter($event.target.value, 'department', 'contains')">
                    </th>
                    <th>
                        <input pInputText type="text"
                            (input)="table.filter($event.target.value, 'Qty', 'contains')">
                    </th>
                    <th>
                        <input pInputText type="text"
                            (input)="table.filter($event.target.value, 'bookkeeper', 'contains')">
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-item>
                <tr class='breakall'>
                    <td style="text-align: center;" *ngIf="IsEanble">
                        <p-checkbox name="group_delete" value="{{ item.Id }}" [(ngModel)]="selectedValues_Delete">
                        </p-checkbox>
                    </td>
                    <td>{{item.FormatId}}</td>
                    <td>{{item.SwName}}</td>
                    <td>{{item.ReservedDepartment}}</td>
                    <td>{{item.NewReservedDepartment}}</td>
                    <td><input pInputText type="number" [disabled]="!IsEanble" [(ngModel)]="item.NewReservedQuantity"
                            name="NewReservedQuantity" /></td>
                    <td style="cursor: pointer;"
                        (click)='item.authorization ==  authorizationTypeEnum.ByUser && IsEanble ? emp_showDialog(item.Id) : ""'>
                        {{item.NewAuthBookkeeper}}
                        <button *ngIf="item.authorization ==  authorizationTypeEnum.ByUser && IsEanble" pButton type="button" icon="fa fa-edit" class="form-add"
                        (click)='item.authorization ==  authorizationTypeEnum.ByUser && IsEanble ? emp_showDialog(item.Id) : ""'></button>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>

<app-employee-selector-standard [(visible)]="emp_display" (OKEvent)="emp_Add($event)"
    (CancelEvent)="emp_ColseDialog($event)" [(CanMultiple)]="CanMultiple" [(departmentNo)]="department">
</app-employee-selector-standard>

<app-department-selector [(visible)]="dept_display" (OKEvent)="dept_Add($event)"
    (CancelEvent)="dept_ColseDialog($event)" [(CanMultiple)]="CanMultiple">
</app-department-selector>

<app-department-selector [(visible)]="dept_display2" (OKEvent)="dept_Add2($event)"
    (CancelEvent)="dept_ColseDialog2($event)" [(CanMultiple)]="CanMultiple" [(MgrNo)]="StrEmpNo">
</app-department-selector>
