<p-card class="ui-g-12">
    <div class="ui-g">
        <div class="ui-g">{{'ResignationDisabled.Status'|translate}}</div>
        <p-dropdown [options]="selectStatus" [(ngModel)]="this.status"></p-dropdown>
    </div>
    <p-table [columns]="cols" [value]="items">
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th *ngFor="let col of columns">
                    {{col.header}}
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns">
            <tr *ngIf="rowData.Status==this.status||this.status==this.statusEnum.All">
                <td> {{rowData.CloseDate|date:"yyyy-MM-dd"}}</td>
                <td (click)="URL(rowData.Id)" style="cursor: pointer;"> {{rowData.Id}}</td>
                <td> {{rowData.Item}}</td>
                <td> {{rowData.EmpNo}}</td>
                <td> {{rowData.Department}}</td>
                <td> {{rowData.EmpName}}</td>
                <td> {{rowData.Signer}}</td>
                <td> {{rowData.DisableDesc}}</td>

            </tr>
        </ng-template>
    </p-table>
</p-card>
