@mixin pad {
    @media(max-width: 768px) {
        @content;
    }
}

@mixin mobile {
    @media(max-width: 568px) {
        @content;
    }
}

.header {
    width: 500px;
    @include pad() {
        width: 13px;
        font-size: 20px;
    }
    @include mobile() {
        font-size: 8px;
    }
    a {
        background: black;
        @include mobile() {
            background: white;
        }
    }
}