<article>
    <hgroup>
        <h1>article</h1>
        <time>2021-10-24</time>
    </hgroup>
    <section>
        section
        <figure>
            figure
            <img src="https://interactive-examples.mdn.mozilla.net/media/cc0-images/elephant-660-480.jpg" alt="Elephant at sunset">
            <figcaption>figcaption</figcaption>
            <details>details</details>
            <mark>mark</mark>
            <blockquote>
                <p>It was a bright cold day in April, and the clocks were striking thirteen.</p>
            </blockquote>
            <figcaption>First sentence in
                <cite>
                    <a href="http://www.george-orwell.org/1984/0.html">Nineteen Eighty-Four</a>
                </cite> by George Orwell (Part 1, Chapter 1).
            </figcaption>
        </figure>
    </section>
</article>
<aside>
    aside
</aside>