<!DOCTYPE html>
<html lang="en">

<head>
    <%- partial('_partial/head') %>
</head>

<body>
    <header>
        header
        <%- partial('_partial/header') %>
            header
    </header>
    <main>
        main
        <%- body %>
            main
    </main>
    <footer>
        footer
        <%- partial('_partial/footer') %>
            footer
    </footer>
</body>

</html>