<div class="ui-g-12">
    <div class="ui-g-12 ui-md-5" style="width: 45%;">
        <div style="margin-bottom: 5px;">
            <div style="height: 28px;">
                {{'Change.Type7Source'|translate}}
            </div>
        </div>
        <p-table #table [columns]="cols" [value]="items" [resizableColumns]="true"
            [style]="{'text-align': 'center','width':'100%','margin-right':'-50px'}" [scrollable]="true" scrollHeight="300px">
            <ng-template pTemplate="colgroup" let-columns>
                <colgroup>
                    <col style="width:30px" *ngIf="IsEanble">
                    <col style="width:60px">
                    <col style="width:60px">
                    <col style="width:60px">
                    <col style="width:60px">
                </colgroup>
            </ng-template>
            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th style="width: 30px;" *ngIf="IsEanble">
                        <p-checkbox name="group_all" value="all" (onChange)="All(1)" [(ngModel)]="selectedValues_All">
                        </p-checkbox>
                    </th>
                    <ng-container *ngFor="let col of columns; let i = index">
                        <th *ngIf="i >= 0" style="width: 100px;" [pSortableColumn]="col.field" pResizableColumn>
                            {{ col.header }}
                            <p-sortIcon [field]=" col.field"></p-sortIcon>
                        </th>
                    </ng-container>
                    <!-- <th>{{'Change.softwarename'|translate}}</th>
                    <th>{{'Change.softwareVersion'|translate}}</th>
                    <th>{{'Change.authorization'|translate}}</th>
                    <th>{{'Change.bookkeeper'|translate}}</th> -->
                </tr>
                <tr>
                    <th></th>
                    <th>
                        <input pInputText type="text"
                            (input)="table.filter($event.target.value, 'softwarename', 'contains')">
                    </th>
                    <th>
                        <input pInputText type="text"
                            (input)="table.filter($event.target.value, 'softwareVersion', 'contains')">
                    </th>
                    <th>
                        <input pInputText type="text"
                            (input)="table.filter($event.target.value, 'authorization', 'contains')">
                    </th>
                    <th>
                        <input pInputText type="text"
                            (input)="table.filter($event.target.value, 'bookkeepers', 'contains')">
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-item>
                <tr class='breakall'>
                    <td style="text-align: center;" *ngIf="IsEanble">
                        <p-checkbox name="group_delete" value="{{ item.Id }}" [(ngModel)]="selectedValues_Delete">
                        </p-checkbox>
                    </td>
                    <td>{{item.SwName}}</td>
                    <td>{{item.OriginalSoftwareVersion}}</td>
                    <td>{{item.authorizationName}}</td>
                    <td>{{item.AuthBookkeeper}}</td>
                </tr>
            </ng-template>
        </p-table>
    </div>
    <div class="ui-g-12 ui-md-1" style="text-align: center;padding-top: 40px;width: 10%;">
        <p-button [disabled]="!IsEanble" label=">" (click)="addItems()"></p-button>
        <br> <br>
        <p-button *ngIf="IsEanble" label="<" (click)="reomveItems()"></p-button>
    </div>
    <div class="ui-g-12 ui-md-5" style="width: 45%;">
        <div style="margin-bottom: 5px;">
            <div>
                {{'Change.Type7Target'|translate}}
                <input pInputText type="text" style="width: 150px !important;" readonly="true"
                    (click)='IsEanble ? emp_showDialog(0) : ""' [(ngModel)]="custodian" name="custodian" />
            </div>
        </div>

        <p-table #table [columns]="cols2" [value]="items_Selected" [resizableColumns]="true"
            [style]="{'width':'100%','text-align': 'center'}" [scrollable]="true" scrollHeight="300px">
            <ng-template pTemplate="colgroup" let-columns>
                <colgroup>
                    <col style="width:30px" *ngIf="IsEanble">
                    <col style="width:60px">
                    <col style="width:60px">
                    <col style="width:60px">
                    <col style="width:60px">
                    <col style="width:60px">
                    <col style="width:60px">
                </colgroup>
            </ng-template>
            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th style="width: 30px;" *ngIf="IsEanble">
                        <p-checkbox name="group_all" value="all" (onChange)="All(2)"
                            [(ngModel)]="selectedValues_RemoveAll">
                        </p-checkbox>
                    </th>
                    <ng-container *ngFor="let col of columns; let i = index">
                        <th *ngIf="i >= 0" style="width: 100px;" [pSortableColumn]="col.field" pResizableColumn>
                            {{ col.header }}
                            <p-sortIcon [field]=" col.field"></p-sortIcon>
                        </th>
                    </ng-container>
                    <!-- <th>{{'Change.FormatId'|translate}}</th>
                    <th>{{'Change.softwareNewName'|translate}}</th>
                    <th>{{'Change.assetnumber'|translate}}</th>
                    <th>{{'Change.softwareVersion'|translate}}</th>
                    <th>{{'Change.computername'|translate}}</th>
                    <th>{{'Change.location'|translate}}</th> -->
                </tr>
                <tr>
                    <th></th>
                    <th>
                        <input pInputText type="text"
                            (input)="table.filter($event.target.value, 'FormatId', 'contains')">
                    </th>
                    <th>
                        <input pInputText type="text"
                            (input)="table.filter($event.target.value, 'softwareNewName', 'contains')">
                    </th>
                    <th>
                        <input pInputText type="text"
                            (input)="table.filter($event.target.value, 'assetnumber', 'contains')">
                    </th>
                    <th>
                        <input pInputText type="text"
                            (input)="table.filter($event.target.value, 'softwareVersion', 'contains')">
                    </th>
                    <th>
                        <input pInputText type="text"
                            (input)="table.filter($event.target.value, 'computername', 'contains')">
                    </th>
                    <th>
                        <input pInputText type="text"
                            (input)="table.filter($event.target.value, 'location', 'contains')">
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-item>
                <tr class='breakall'>
                    <td style="text-align: center;" *ngIf="IsEanble">
                        <p-checkbox name="group_delete" value="{{ item.Id }}" [(ngModel)]="selectedValues_Delete">
                        </p-checkbox>
                    </td>
                    <td>{{item.FormatId}}</td>
                    <td>
                        <span *ngIf="!IsEanble">{{item.SwName}}</span>
                        <input pInputText type="text" *ngIf="IsEanble" [(ngModel)]="item.SwName" name="SwName" />
                    </td>
                    <td style="cursor: pointer;"
                        (click)='custodian.length > 1 && IsEanble ? Asseet_showDialog(item.Id,custodianID) : ""'>
                        {{item.HsamMainaccessNo}}
                        <button *ngIf="IsEanble" pButton type="button" icon="fa fa-edit" class="form-add"
                        (click)='custodian.length > 1 && IsEanble ? Asseet_showDialog(item.Id,custodianID) : ""'></button>
                    </td>
                    <td>
                        <span *ngIf="!IsEanble">{{item.NewSoftwareVersion}}</span>
                        <input pInputText type="text" *ngIf="IsEanble" [(ngModel)]="item.NewSoftwareVersion" name="NewSoftwareVersion" />
                    </td>
                    <td>{{item.HsamComputerName}}</td>
                    <td>{{item.HsamPleace}}</td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>

<app-asseet [(visible)]="asseet_display" [(EmpNo)]="assetEmpNo" (OKEvent)="Asseet_Add($event)"
    (CancelEvent)="Asseet_ColseDialog($event)">
</app-asseet>
<app-employee-selector-standard [(visible)]="emp_display" (OKEvent)="emp_Add($event)"
    (CancelEvent)="emp_ColseDialog($event)" [(CanMultiple)]="CanMultiple">
</app-employee-selector-standard>
