/* body {} */

body {
    color: white;
    background-color: dimgray;
}


/* 以下沒註解之程式碼為不影響功能之CSS程式碼。完成介面為紅區。 */


/* 
@font-face {
    font-family: 'MyPlayerFont';
    src: url('fonts/WEBDINGS.ttf') format('truetype');
}

@font-face {
    font-family: 'MyPlayerFont';
    src: url('fonts/WEBDINGS.svg') format('svg');
}

@font-face {
    font-family: 'MyPlayerFont';
    src: url('fonts/WEBDINGS.eot') format('embedded-opentype');
}

@font-face {
    font-family: 'MyPlayerFont';
    src: url('fonts/WEBDINGS.woff') format('woff');
} 
*/

#ControlPanel {
    margin: auto;
    border: 5px solid;
    background-color: red;
}

#FuncBtn>span {
    border: 2px solid;
    box-shadow: 3px 3px 3px black;
    cursor: pointer;
    /* font-family: MyPlayerFont; */
    font-size: 24pt;
    background-color: red;
}

#volValue {
    width: 25px;
    /* background-color: black; */
    color: yellow;
    text-align: center;
    background-color: red;
}


/* 
#settime {
    background-color: #808080;
    height: 10px;
    cursor: pointer;
} 
*/


/* #progress {
    background-color: #ff6a00;
    height: 10px;
    width: 0;
} 
*/


/* 
#Sbook,
#Tbook {
    width: 294px;
    border: 3px solid;
    float: left;
    height: 200px;
    overflow: auto;
    cursor: copy;
} 
*/

#btnUpdateMusic {
    /* 
    border: 2px solid;
    text-align: center; 
    */
    font-size: 18pt;
    /* cursor: pointer; */
    /* background-color: pink; */
    /* clear: both; */
    background-color: red;
}


/* 
.hide {
    display: none;
}

.show {
    display: block;
} 
*/