<div class="ui-g-12">
    <div class="ui-g-12 ui-md-5" style="width: 45%;">
        <div style="margin-bottom: 5px;">
            <div style="height: 28px;">
                {{'Change.Type1Source'|translate}}
            </div>
        </div>
        <p-table #table [value]="items" [resizableColumns]="true"
            [style]="{'margin-right':'-50px','width':'100%','text-align': 'center'}" [scrollable]="true" scrollHeight="300px">
            <ng-template pTemplate="colgroup" let-columns>
                <colgroup>
                    <col style="width:30px" *ngIf="IsEanble">
                    <col style="width:75px">
                    <col style="width:75px">
                    <col style="width:75px">
                    <col style="width:75px">
                </colgroup>
            </ng-template>
            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th style="width: 30px;" *ngIf="IsEanble">
                        <p-checkbox name="group_all" value="all" (onChange)="All(1)" [(ngModel)]="selectedValues_All">
                        </p-checkbox>
                    </th>
                    <th>{{'Change.softwarename'|translate}}</th>
                    <th>{{'Change.assetnumber'|translate}}</th>
                    <th>{{'Change.computername'|translate}}</th>
                    <th>{{'Change.custodian'|translate}}</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-item>
                <tr class='breakall'>
                    <td style="text-align: center;" *ngIf="IsEanble">
                        <p-checkbox name="group_delete" value="{{ item.Id }}" [(ngModel)]="selectedValues_Delete">
                        </p-checkbox>
                    </td>
                    <td>{{item.SwName}}</td>
                    <td>{{item.HsamMainaccessNo}}</td>
                    <td>{{item.HsamComputerName}}</td>
                    <td>{{item.custodian}}</td>
                </tr>
            </ng-template>
        </p-table>
    </div>
    <div class="ui-g-12 ui-md-1" style="text-align: center;padding-top: 40px;width: 10%;">
        <p-button [disabled]="!IsEanble" label=">" (click)="addItems()"></p-button>
        <br> <br>
        <p-button *ngIf="IsEanble" label="<" (click)="reomveItems()"></p-button>
    </div>
    <div class="ui-g-12 ui-md-5" style="width: 45%;">
        <div style="margin-bottom: 5px;">
            <div>
                {{'Change.Type1Target'|translate}}
                <input pInputText type="text" style="width: 150px !important;" readonly="true"
                    (click)='IsEanble ? emp_showDialog(0) : ""' [(ngModel)]="custodian" name="custodian" />
            </div>
        </div>

        <p-table #table [value]="items_Selected" [resizableColumns]="false"
            [style]="{'width':'100%','text-align': 'center'}" [scrollable]="true" scrollHeight="300px">
            <ng-template pTemplate="colgroup" let-columns>
                <colgroup>
                    <col style="width:30px" *ngIf="IsEanble">
                    <col style="width:80px">
                    <col style="width:80px">
                    <col style="width:80px">
                    <col style="width:80px">
                    <col style="width:80px">
                    <col style="width:80px">
                </colgroup>
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th style="width: 30px;" *ngIf="IsEanble">
                        <p-checkbox name="group_all" value="all" (onChange)="All(2)"
                            [(ngModel)]="selectedValues_RemoveAll">
                        </p-checkbox>
                    </th>
                    <th>{{'Change.FormatId'|translate}}</th>
                    <th>{{'Change.softwarename'|translate}}</th>
                    <th>{{'Change.Oriassetnumber'|translate}}</th>
                    <th>{{'Change.assetnumber'|translate}}</th>
                    <th>{{'Change.computername'|translate}}</th>
                    <th>{{'Change.location'|translate}}</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-item>
                <tr class='breakall' style="text-align: center;">
                    <td *ngIf="IsEanble">
                        <p-checkbox name="group_delete" value="{{ item.Id }}" [(ngModel)]="selectedValues_Delete">
                        </p-checkbox>
                    </td>
                    <td>{{item.FormatId}}</td>
                    <td>{{item.SwName}}</td>
                    <td>{{item.OriginalHsamMainaccessNo}}</td>
                    <td>
                        {{item.HsamMainaccessNo}}
                        <button *ngIf="IsEanble" pButton type="button" icon="fa fa-edit" class="form-add"
                            (click)='Asseet_showDialog(item.Id,custodianID)'></button>
                    </td>
                    <td>{{item.HsamComputerName}}</td>
                    <td>{{item.HsamPleace}}</td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>

<app-asseet [(visible)]="asseet_display" [(EmpNo)]="assetEmpNo" (OKEvent)="Asseet_Add($event)"
    (CancelEvent)="Asseet_ColseDialog($event)">
</app-asseet>
<app-employee-selector-standard [(visible)]="emp_display" (OKEvent)="emp_Add($event)"
    (CancelEvent)="emp_ColseDialog($event)" [(CanMultiple)]="CanMultiple">
</app-employee-selector-standard>
