input[type=checkbox] {
    margin-right: 5px;
    cursor: pointer;
    font-size: 14px;
    width: 15px;
    height: 12px;
    position: relative;
}

input[type=checkbox]:after {
    position: absolute;
    width: 20px;
    height: 19px;
    top: -3px;
    left: 0px;
    content: " ";
    background-color: #fff;
    color: #fff;
    display: inline-block;
    visibility: visible;
    padding: 0px 0px 1px 5px;
    border-radius: 3px;
    transition: all 1s;
    border: 1px solid #818A91;
}

input[type=checkbox]:checked:after {
    content: "✓";
    font-size: 12px;
    background-color: #916000;
}

.little-gray {
    color: #A5A5A5;
    font-size: 14px;
}